/* custom button color */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #FFB495 !important;
    border-color: #FFB495 !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #D662A8 !important;
    border-color: #D662A8 !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited,
.btn-warning:focus {
    background-color: #6A2D8A !important;
    border-color: #6A2D8A !important;
    color: white;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #412A78 !important;
    border-color: #412A78 !important;
}