
.card_msg {
    box-sizing:border-box;
    margin:20px;
    border:3px solid gray;
    width:400px;
    height:200px;
    border-radius:10px;
    display:none;
}
.card_msg > .sender {
    margin:10px;
    font-weight:bold;
    font-size:20px;
}
.card_msg > .text {
    margin:10px;
    font-size:20px;
    text-align:center;
}
#reply_box {
    position: absolute;
    left: 50px;
    top: 160px;
    width: 355px;
    height: 40px;
}

#modal-text {
    font-size: 30px;
}

.modal.fade{
    opacity:1;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}