/*
    Color Palette https://www.colourpod.com/post/24961966146/pastel-nightlight-submitted-by-parushine
    #FFE1A3
    #FFB495
    #D662A8
    #6A2D8A
    #412A78
    #0E0D5A

    css gradient tool
    https://cssgradient.io/
*/

/* total app sizing*/
#app{
    min-width: 25em;
    width: 50%;
    height: 50em;

}

#header-navbar{
    height:15%;
}

#chatroom-list{
    height: 75%
}

#tap-footer{
    height:10%;
}

/* chatroom list sizing */
.chatroom-list-item{
    height:15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* tap button sizing */
.btn-group-lg{
    height: 90%;
}


