/*
    Color Palette https://colorhunt.co/palette/157400
    white : #f9f9f9
    yello : #f6ecbf
    light-violet : #caadde
    violet : #c886e5
*/

/* total app sizing*/
#app{
    width: 50%;
    height: 50em;
    background-color: #f6ecbf;
}

#header-navbar{
    height:15%;
}

#chatroom-list{
    height: 75%
}

#tap-footer{
    height:10%;
}

/* tap button sizing */
.btn-group-lg{
    height: 90%;
}