div{
    box-sizing: border-box;
}

/* messages */

*{

    margin:0;

    padding:0;

}

ul li{

    list-style: none;
    

}

body{
    background-color: lightblue;
}

.profile{
    position: relative;
    left: 5px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius:30%;
    /*background-color: red;*/
}
.p_name{
    position: relative;
    left: 5px;
    top: 20px;
    width: 40px;
    height: 40px;
}

img {
    border-radius: 30%;
}

.my_msg {

    position: relative;

    width: 100%;

    /*height: 60px;*/

    /*right: 100px;*/

    
    display: block;

}

.my_msg > .txt{

    position: absolute;

    display: block;

    background-color: yellow;

    max-width: 300px;

    right: 20px;

    text-align: right;

    top: 40px;

    border-radius: 10px;

    font-size: 16px;

    padding: 10px;

    color: black;

    white-space: normal;

}



.other_msg {

    position: relative;

    width: 100%;

    /*height: 60px;*/
    
    display: block;

}


.other_msg > .txt{

    position: absolute;

    display: block;

    background-color: white;

    max-width: 300px;

    left: 50px;

    top: 40px;

    font-size: 16px;

    border-radius: 10px;

    padding: 10px;

    color: black;

}


p{
    margin-bottom: 0;
}


/* send box */

.send_msg {

    position: absolute;

    left:50px;

    bottom:20px;

    width:80%;

    height:63px;
}

.send_msg > .send_txt {

    height:100%;

    margin-right:100px;
}

.send_msg > .send_button {
    height:100%;

    float:right;

    width:72px;
    
    margin-top:-63px;
}

#input_msg_box {
    display:block;

    width:100%;

    height:100%;

    border:0;

    border-top:1px solid #e0e0e0;

    resize:none;

    overflow-y:auto;

    font-size:14px;
}
#send_button_box {
    display:block;
    width:100%;
    height:100%;
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:0;
    border-bottom:0;
    text-align:center;
    font-size: 25px;
    /*background:url("../../Images/ThemeDefault/bg_message_send.png") no-repeat left top;*/
    background-size:100% 100%;
}


